<!DOCTYPE html>
<html lang="en">
<head>
  
</head>
<body>
  <br>
  <h1><a href="#d">NIKHIL Interiors</a></h1>
<nav class="bg-dark navbar-dark" >
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" routerLink="Home">HOME</a>
    </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="packages" >PACKAGES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="multi-packages">MULTI-PACKAGES</a>
      </li>
      <li class="nav-item dropdown" id="nd">
        <a class="nav-link dropdown-toggle" routerLink="profile" id="navbardrop" data-toggle="dropdown" >
          PROFILE
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="profile/login">LOGIN</a>
          <a class="dropdown-item" routerLink="profile/signup">SIGNUP</a>
        </div>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</body>