<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
    <div class="card-group">
        <div class="card ">
          <img class="card-img-top" src="../../assets/pics/PicsArt_04-01-10.24.44.jpg" height="342px">
          <div class="card-body">
            <h4 class="card-title">doublepackage</h4>
            <p class="card-text">This package belongs to 2 houses.</p>
            <a href="#" class="btn btn-primary">See full package</a>
          </div>
          
        </div>
        <div class="card">
          <img class="card-img-top" src="../../assets/pics/newpics.jpg" height="342px">
          <div class="card-body">
            <h4 class="card-title">steppackage</h4>
            <p class="card-text">This package for 2 floors of a house</p>
            <a href="#" class="btn btn-primary">See full package</a>
          </div>
        </div>
        
        </div>  
        <div class="card-group">
          <div class="card ">
            <img class="card-img-top" src="../../assets/pics/multi 2nd 1">
            <div class="card-body">
              <h4 class="card-title">Hotel package</h4>
              <p class="card-text">chill mood.</p>
              <a href="#" class="btn btn-primary">See full package</a>
            </div>
            
          </div>
          <div class="card">
            <img class="card-img-top" src="../../assets/pics/multi 2nd 2.jpg" height="342px">
            <div class="card-body">
              <h4 class="card-title">Restaurent package</h4>
              <p class="card-text">food mood</p>
              <a href="#" class="btn btn-primary">See full package</a>
            </div>
          </div>
          
          </div>  

        <div class="footer">
          <div class ="n">
          Manufactured by experts of interiors.
          <p id="n4"><b>contact us :</b> Nikhil interiors<br> ,opp of 12th keshav apartment, 
            2nd maruthi nagar,<br> Narasanna peta<br>srikakulam district<br> Andhra pradesh</p>
        </div>
        </div>
</body>

