<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
    <div class="container">
        <h2>CREATE YOUR ACCOUNT</h2>
        <form action="/action_page.php" class="was-validated">
          <div class="form-group">
            <label for="uname">E-mail or phone number</label>
            <input type="text" class="form-control" id="uname" placeholder="Enter email or phone number" name="uname" required>
          </div>
          <div class="form-group">
            <label for="pwd">Enter Password:</label>
            <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd" required>
            
          </div>
          <div class="form-group">
            <label for="pwd">Re-enter Password:</label>
            <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd" required>
            
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <br><br><br><br><br><br><br><br>
      <div class="footer">
        <div class ="n">
        Manufactured by experts of interiors.
        <p id="n4"><b>contact us :</b> Nikhil interiors<br> ,opp of 12th keshav apartment, 
          2nd maruthi nagar,<br> Narasanna peta<br>srikakulam district<br> Andhra pradesh</p>
      </div>
      </div>
      <router-outlet></router-outlet>
</body>
